<h2 class="mb-2">Lista Hotel</h2>
<p-toast></p-toast>
<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>

<div
  class="flex justify-content-between w-full tman-shadow px-5 py-3 border-round mb-4"
>
  <span class="p-input-icon-left">
    <i class="pi pi-search"></i>
    <input
      type="text"
      pInputText
      placeholder="Cerca..."
      [formControl]="searchFilter"
    />
  </span>
  <div>
    <button
      pButton
      pRipple
      label="Crea nuova attività"
      class="p-button-primary mr-2"
      (click)="create()"
    ></button>
  </div>
</div>

<p-table
  #dt
  [value]="hotels"
  [totalRecords]="totalRecords"
  [rows]="size"
  [paginator]="true"
  [lazy]="true"
  (onLazyLoad)="onChangePage($event)"
  dataKey="id"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  [showCurrentPageReport]="true"
  [loading]="loading"
  class="tman-shadow"
>
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="name">
        Name <p-sortIcon field="name"></p-sortIcon>
      </th>
      <th pSortableColumn="city">
        Città<p-sortIcon field="city"></p-sortIcon>
      </th>
      <th pSortableColumn="createdAt">
        Data creazione <p-sortIcon field="createdAt"></p-sortIcon>
      </th>
      <th>Azioni</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-hotel>
    <tr>
      <td>{{ hotel.name }}</td>
      <td>{{ hotel.city.name }}</td>
      <td>{{ hotel.createdAt | customDate }}</td>
      <td>
        <button
          pButton
          pRipple
          icon="pi pi-pencil"
          class="p-button-rounded p-button-outlined mr-2"
          (click)="update(hotel)"
        ></button>
        <button
          pButton
          pRipple
          icon="pi pi-trash"
          class="p-button-rounded p-button-outlined p-button-danger"
          (click)="remove(hotel)"
        ></button>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="loadingbody">
    <ng-container *ngFor="let row of rowsArray">
      <tr>
        <ng-container *ngFor="let cell of cellsArray">
          <td><p-skeleton></p-skeleton></td>
        </ng-container>
      </tr>
    </ng-container>
  </ng-template>
</p-table>

<ng-template #noTeams> Nessuna squadra </ng-template>
