<h2 class="mb-2">Utenti</h2>
<p-toast></p-toast>
<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>

<div
  class="flex justify-content-between w-full tman-shadow px-5 py-3 border-round my-4"
>
  <span class="p-input-icon-left">
    <i class="pi pi-search"></i>
    <input
      type="text"
      pInputText
      placeholder="Cerca..."
      [formControl]="searchFilter"
    />
  </span>
  <div>
    <button
      pButton
      pRipple
      label="Crea nuovo utente"
      class="p-button-primary mr-2"
      (click)="create()"
    ></button>
  </div>
</div>

<p-table
  #dt
  [value]="users"
  [totalRecords]="totalRecords"
  [rows]="size"
  [paginator]="true"
  [lazy]="true"
  (onLazyLoad)="onChangePage($event)"
  dataKey="id"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  [showCurrentPageReport]="true"
  [loading]="loading"
  class="tman-shadow"
>
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="email">
        Email <p-sortIcon field="email"></p-sortIcon>
      </th>
      <th pSortableColumn="firstName">
        First name<p-sortIcon field="firstName"></p-sortIcon>
      </th>
      <th pSortableColumn="lastName">
        Last name<p-sortIcon field="lastName"></p-sortIcon>
      </th>
      <th pSortableColumn="role">Role<p-sortIcon field="role"></p-sortIcon></th>
      <th>Squadre</th>
      <th>Stato</th>
      <th pSortableColumn="createdAt">
        Data creazione <p-sortIcon field="createdAt"></p-sortIcon>
      </th>
      <th>Azioni</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-user>
    <tr>
      <td>{{ user.email }}</td>
      <td>{{ user.firstName }}</td>
      <td>{{ user.lastName }}</td>
      <td>{{ user.role | userRole }}</td>
      <td>
        <ng-container *ngIf="user.teams && user.teams.length; else noTeams">
          <ng-container *ngFor="let team of user.teams; let i = index">
            <span class="chips chips-primary">
              {{ team.team.name }}
            </span>
          </ng-container>
        </ng-container>
      </td>
      <td>
        <span
          class="chips"
          [ngClass]="user.enabled ? 'chips-success' : 'chips-warning'"
        >
          {{ user.enabled ? "ATTIVO" : "NON ATTIVO" }}
        </span>
      </td>
      <td>{{ user.createdAt | customDate }}</td>
      <td>
        <p-button
          icon="pi pi-ellipsis-v"
          (click)="op.toggle($event)"
          styleClass="p-button-rounded p-button-secondary p-button-text"
        ></p-button>
        <p-overlayPanel #op [style]="{ width: '160px' }">
          <button
            pButton
            pRipple
            label="Modifica"
            class="p-button-text"
            (click)="update(user)"
          ></button>
          <button
            pButton
            pRipple
            label="Rimuovi"
            class="p-button-text p-button-danger"
            (click)="remove(user)"
          ></button>
        </p-overlayPanel>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="loadingbody">
    <ng-container *ngFor="let row of rowsArray">
      <tr>
        <ng-container *ngFor="let cell of cellsArray">
          <td><p-skeleton></p-skeleton></td>
        </ng-container>
      </tr>
    </ng-container>
  </ng-template>
</p-table>

<ng-template #noTeams>
  <span class="chips chips-warning"> Nessuna </span>
</ng-template>
