<p-toast></p-toast>
<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>

<div class="flex align-items-center gap-4 mb-4">
  <i
    class="pi pi-angle-left cursor-pointer text-4xl"
    (click)="backToCart()"
  ></i>
  <p>Torna a dettaglio</p>
</div>

<h2>{{ isEdit ? "Aggiorna trasferta" : "Organizza nuova trasferta" }}</h2>
<ng-container *ngIf="event">
  <div class="my-3">
    <p>{{ event.calendar.name }} - {{ event.day }}° giornata</p>
    <p class="mb-4">
      <span class="font-semibold text-lg">
        {{ event.home?.name }} - {{ event.away?.name }}
      </span>
      del {{ event.date | customDate }}
    </p>
    <ng-container *ngIf="status === EStatusCart.PENDING">
      <ng-container *ngIf="fromBackoffice">
        <div
          class="flex w-full tman-shadow px-5 py-3 border-round mt-4 mb-6 align-items-center justify-content-between"
        >
          Questa trasferta è in attesa di conferma
          <div class="flex justify-content-end dialog-buttons">
            <button
              pButton
              pRipple
              icon="pi pi-check"
              class="p-button-rounded p-button-outlined p-button-warning"
              label="Conferma"
              (click)="updateStatus(EStatusCart.CONFIRMED)"
              *ngIf="fromBackoffice && cart.status === EStatusCart.PENDING"
            ></button>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="!fromBackoffice">
        <p-messages severity="warn" styleClass="mb-6">
          <ng-template pTemplate>
            <p>
              <strong>Attenzione!</strong> Questa trasferta è stata presa in
              carico da TMANAGER
            </p>
          </ng-template>
        </p-messages>
      </ng-container>
    </ng-container>

    <p-steps
      [model]="items"
      [activeIndex]="activeIndex"
      [readonly]="true"
      [readonly]="false"
      (activeIndexChange)="onActiveIndexChange($event)"
    ></p-steps>
    <div class="py-5">
      <ng-container [ngSwitch]="activeIndex">
        <ng-container *ngSwitchCase="0">
          <app-cart-create-pax
            [activeIndex]="activeIndex"
            [people]="people"
            [event]="event"
            [isDisabledCart]="isDisabledCart"
            [isDisabledRooming]="isDisabledRooming"
            [isEdit]="isEdit"
            (addNewPeople)="onAddNewPax($event)"
            (removePeople)="onRemovePax($event)"
            (copyRoomings)="onCopyRooming($event)"
            (nextStep)="onNextStep()"
          ></app-cart-create-pax>
        </ng-container>
        <ng-container *ngSwitchCase="1">
          <app-cart-create-accomodations
            [selectedHotel]="selectedHotel"
            [isEdit]="isEdit"
            [activeIndex]="activeIndex"
            [accomodationForm]="accomodationForm"
            [event]="event"
            [isDisabledCart]="isDisabledCart"
            [isDisabledRooming]="isDisabledRooming"
            [hotels]="hotels"
            [services]="services"
            [selectedHotel]="selectedHotel"
            (nextStep)="onNextStep()"
            (prevStep)="onPrevStep()"
            (changeSelectedHotel)="onChangeSelectedHotel($event)"
          ></app-cart-create-accomodations>
        </ng-container>
        <ng-container *ngSwitchCase="2">
          <app-cart-create-meal
            [event]="event"
            [activeIndex]="activeIndex"
            [meals]="meals"
            [mealForm]="mealForm"
            [isDisabledCart]="isDisabledCart"
            [isEdit]="isEdit"
            [maxPax]="people.length"
            (nextStep)="onNextStep()"
            (prevStep)="onPrevStep()"
          ></app-cart-create-meal>
        </ng-container>
        <ng-container *ngSwitchCase="3">
          <app-cart-create-activity
            [event]="event"
            [cityActivities]="activities"
            [activeIndex]="activeIndex"
            [activityForm]="activityForm"
            [isDisabledCart]="isDisabledCart"
            [maxPax]="people.length"
            (nextStep)="onNextStep()"
            (prevStep)="onPrevStep()"
          ></app-cart-create-activity>
        </ng-container>
        <ng-container *ngSwitchCase="4">
          <app-cart-create-road
            [activeIndex]="activeIndex"
            [roadForm]="roadForm"
            [event]="event"
            [veichles]="veichles"
            [isDisabledCart]="isDisabledCart"
            [maxPax]="people.length"
            (nextStep)="onNextStep()"
            (prevStep)="onPrevStep()"
          ></app-cart-create-road>
        </ng-container>
        <ng-container *ngSwitchCase="5">
          <app-recap
            [cartForm]="cartForm"
            [activeIndex]="activeIndex"
            [status]="status"
            (nextStep)="onSaveCart()"
            (prevStep)="onPrevStep()"
          ></app-recap>
        </ng-container>
      </ng-container>
    </div>
  </div>
</ng-container>
