<p-toast></p-toast>
<form
  class="flex flex-column"
  [formGroup]="recoveryForm"
  (ngSubmit)="onSendMail()"
>
  <h2>Password dimenticata?</h2>
  <p>
    Nessun problema, indicaci la tua mail e ti invieremo un link per
    reimpostarla.
  </p>
  <div class="flex flex-column gap-2 mt-4">
    <label class="font-semibold">Email</label>
    <span class="p-input-icon-left">
      <i class="pi pi-envelope"></i>
      <input pInputText type="email" formControlName="email" />
    </span>
    <app-control-errors controlName="email"></app-control-errors>
  </div>
  <div class="flex justify-content-center mt-4">
    <p-button class="w-full" type="submit" label="Invia mail"></p-button>
  </div>
</form>
