.chips {
  font-size: 0.75rem;
  border-radius: var(--border-radius);
  padding: 4px;
  font-weight: 600;

  &-primary {
    background-color: var(--primary-200);
    color: var(--primary-900);
  }
  &-success {
    background-color: var(--green-200);
    color: var(--green-900);
  }
  &-warning {
    background-color: var(--yellow-200);
    color: var(--yellow-900);
  }

  &-DRAFT {
    background-color: var(--primary-300);
    color: var(--primary-900);
  }
  &-PENDING {
    background-color: var(--purple-300);
    color: var(--purple-900);
  }
  &-CONFIRMED {
    background-color: var(--orange-300);
    color: var(--orange-900);
  }
  &-DEPOSIT {
    background-color: var(--yellow-300);
    color: var(--yellow-900);
  }
  &-COMPLETED {
    background-color: var(--green-300);
    color: var(--green-900);
  }
}
