.p-inputnumber.p-component {
  width: 100% !important;
}

.p-dropdown.p-component {
  width: 100% !important;
}

.p-inputtext.p-component {
  width: 100% !important;
}

.ng-invalid.ng-touched {
  border-color: var(--red-500);
}
