.p-inputnumber.p-component {
  width: 100% !important;
}

.p-dropdown.p-component {
  width: 100% !important;
}

.p-inputtext.p-component {
  width: 100% !important;
}

.ng-invalid.ng-touched {
  border-color: var(--red-500);
}

.full-width {
  .p-autocomplete.p-component {
    width: 100% !important;
  }
}

.p-multiselect.p-component {
  min-width: 250px !important;
}

.p-calendar {
  width: 100% !important;
}

.p-autocomplete.p-component.p-autocomplete-dd {
  width: 100% !important;
}
