.p-dialog-mask.p-component-overlay.p-dialog-mask-scrollblocker {
  z-index: 11000 !important;

  .p-confirm-dialog-reject.p-button {
    background: #64748b;
    border: 1px solid #64748b;
    &:hover {
      background: #475569;
      border-color: #475569;
    }
  }
}
.p-dialog-footer {
  .p-button {
    width: auto !important;
  }
}

.dialog-buttons {
  .p-button {
    width: auto !important;
  }
}
