<p-toast></p-toast>
<p-confirmDialog [style]="{ width: '50vw' }"></p-confirmDialog>

<h2 class="mb-2">Trasferte</h2>
<div
  class="flex justify-content-between w-full tman-shadow px-5 py-3 border-round my-4 dialog-buttons"
>
  <div class="flex gap-2">
    <div class="flex flex-column">
      <label class="font-semibold mb-2">Casa</label>
      <p-dropdown
        [options]="teams"
        [formControl]="teamHomeFilter"
        optionLabel="name"
        [filter]="true"
        [showClear]="true"
        placeholder="Squadra di casa"
        (onShow)="loadFilteredTeams('')"
        (onFilter)="onFilterTeam($event)"
      >
      </p-dropdown>
    </div>
    <div class="flex flex-column">
      <label class="font-semibold mb-2">Trasferta</label>
      <p-dropdown
        [options]="currentUser.teams"
        [formControl]="teamsFilter"
        [filter]="true"
        [showClear]="true"
        optionLabel="name"
        placeholder="Squadra in trasferta"
      ></p-dropdown>
    </div>
    <div class="flex flex-column">
      <label class="font-semibold mb-2">Da - A</label>
      <p-calendar
        [formControl]="dateFilter"
        selectionMode="range"
        dateFormat="dd/mm/yy"
        [readonlyInput]="true"
        (onSelect)="onFilterDate($event)"
      ></p-calendar>
    </div>
  </div>

  <div class="flex align-items-center gap-2">
    <button
      pButton
      pRipple
      label="Applica filtri"
      class="p-button-text"
      (click)="onApplyFilters()"
    ></button>
  </div>
</div>

<p-table
  #dt
  [value]="events"
  [totalRecords]="totalRecords"
  [rows]="size"
  [paginator]="true"
  [lazy]="true"
  (onLazyLoad)="onChangePage($event)"
  dataKey="id"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  [showCurrentPageReport]="true"
  [loading]="loading"
  class="tman-shadow"
>
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="createdAt">
        Data partita <p-sortIcon field="date"></p-sortIcon>
      </th>
      <th>Squadra di casa</th>
      <th>Squadra ospite</th>
      <th>Campionato</th>
      <th>Stato</th>
      <th pSortableColumn="createdAt">
        Data creazione <p-sortIcon field="createdAt"></p-sortIcon>
      </th>
      <th>Azioni</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-event>
    <tr>
      <td>{{ event.date | customDate }}</td>
      <td>
        <div class="flex align-items-center gap-2">
          <app-team-logo [team]="event.home"></app-team-logo>
          <p>
            {{ event.home.name }}
          </p>
        </div>
      </td>
      <td>
        <div class="flex align-items-center gap-2">
          <app-team-logo [team]="event.away"></app-team-logo>
          <p>
            {{ event.away.name }}
          </p>
        </div>
      </td>
      <td>
        <p class="font-semibold">
          {{ event.calendar.name }}
        </p>
        <p>{{ event.day }}° giornata</p>
      </td>
      <td>
        <ng-container *ngIf="event.cart">
          <span class="chips" [ngClass]="'chips-' + event.cart.status">
            {{ event.cart.status | statusCart }}
          </span>
        </ng-container>
        <ng-container *ngIf="!event.cart">
          <span class="chips chips-warning"> Da organizzare </span>
        </ng-container>
      </td>
      <td>{{ event.createdAt | customDate }}</td>
      <td>
        <p-button
          icon="pi pi-ellipsis-v"
          (click)="op.toggle($event)"
          styleClass="p-button-rounded p-button-secondary p-button-text"
        ></p-button>
        <p-overlayPanel #op [style]="{ width: '160px' }">
          <ng-container *ngIf="!event.cart">
            <button
              pButton
              pRipple
              label="Organizza"
              class="p-button-text"
              (click)="openCreateCart(event)"
            ></button
          ></ng-container>
          <ng-container *ngIf="event.cart">
            <button
              pButton
              pRipple
              label="Visualizza"
              class="p-button-text"
              (click)="openViewCart(event.cart)"
            ></button>
            <button
              *ngIf="event.cart.status === EStatusCart.DRAFT"
              pButton
              pRipple
              label="Conferma"
              class="p-button-text p-button-success"
              (click)="complete(event.cart)"
            ></button>
          </ng-container>
        </p-overlayPanel>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="loadingbody">
    <tr>
      <td><p-skeleton></p-skeleton></td>
      <td><p-skeleton></p-skeleton></td>
      <td><p-skeleton></p-skeleton></td>
    </tr>
    <tr>
      <td><p-skeleton></p-skeleton></td>
      <td><p-skeleton></p-skeleton></td>
      <td><p-skeleton></p-skeleton></td>
    </tr>
    <tr>
      <td><p-skeleton></p-skeleton></td>
      <td><p-skeleton></p-skeleton></td>
      <td><p-skeleton></p-skeleton></td>
    </tr>
    <tr>
      <td><p-skeleton></p-skeleton></td>
      <td><p-skeleton></p-skeleton></td>
      <td><p-skeleton></p-skeleton></td>
    </tr>
  </ng-template>
</p-table>
