body {
  min-width: 375px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 1rem;
  color: var(--text);
  background-color: var(--background);
  margin: 0;
}

a {
  color: var(--primary);
  text-decoration: none;

  &:hover {
    color: var(--primary);
    text-decoration: underline;
  }
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

.tman-shadow {
  box-shadow: #919eab4d 0 0 2px, #919eab1f 0 12px 24px -4px;
}

:root {
  --primary-color: #5d87ff !important;
}

.flex-50 {
  flex: 50%;
}

.p-component,
.p-inputtext {
  font-family: "Plus Jakarta Sans", sans-serif !important;
}
