<p-toast></p-toast>
<p-confirmDialog [style]="{ width: '50vw' }"></p-confirmDialog>
<ng-container *ngIf="cart">
  <div class="flex align-items-center gap-4">
    <i
      class="pi pi-angle-left cursor-pointer text-4xl"
      (click)="backToCarts()"
    ></i>
    <p>Torna a trasferte</p>
  </div>
  <div class="flex flex-column w-full tman-shadow px-5 py-3 border-round my-4">
    <div class="flex justify-content-between">
      <div class="flex flex-column">
        <h2>Trasferta a {{ city.name }}</h2>
        <p>del {{ eventDate | customDate }}</p>
        <span class="mt-2">
          <p-tag severity="Primary" *ngIf="status === EStatusCart.PENDING">
            <p>Presa in carico il {{ cart.pendingAt | customDate }}</p>
          </p-tag>
        </span>
      </div>
      <div class="flex flex-column align-items-end">
        <app-team-logo [team]="awayTeam"></app-team-logo>
      </div>
    </div>
    <p-divider></p-divider>
    <div class="flex justify-content-end dialog-buttons">
      <ng-container *ngIf="isDownloading">
        <button
          pButton
          pRipple
          class="p-button-rounded mr-2"
          label="PDF"
          [loading]="true"
        ></button>
      </ng-container>
      <ng-container *ngIf="!isDownloading">
        <button
          pButton
          pRipple
          icon="pi pi-file-pdf"
          class="p-button-outlined p-button-rounded mr-2"
          label="PDF"
          (click)="download()"
        ></button>
      </ng-container>

      <button
        pButton
        pRipple
        icon="pi pi-pencil"
        class="p-button-rounded p-button-outlined mr-2"
        label="Modifica"
        (click)="update()"
      ></button>
      <button
        pButton
        pRipple
        icon="pi pi-check"
        class="p-button-rounded p-button-outlined p-button-success"
        label="Completa"
        (click)="complete()"
        *ngIf="cart.status === EStatusCart.DRAFT"
      ></button>
    </div>
  </div>

  <div class="flex flex-column w-full tman-shadow px-5 py-3 border-round m-4">
    <div class="flex flex-column mt-5">
      <p class="font-semibold mb-2 text-xl">Partecipanti</p>
      <div class="flex flex-wrap gap-3">
        <div
          class="p-4 border-1 surface-card surface-border border-round flex flex-column align-items-center w-8rem"
        >
          <p class="text-3xl font-bold">
            {{ this.cart.players ?? 0 }}
          </p>
          <p>Giocatori</p>
        </div>
        <div
          class="p-4 border-1 surface-card surface-border border-round flex flex-column align-items-center w-8rem"
        >
          <p class="text-3xl font-bold">
            {{ this.cart.staffs ?? 0 }}
          </p>
          <p>Staff</p>
        </div>
        <div
          class="p-4 border-1 surface-card surface-border border-round flex flex-column align-items-center w-8rem"
        >
          <p class="text-3xl font-bold">
            {{ this.cart.managers ?? 0 }}
          </p>
          <p>Dirigenti</p>
        </div>
        <div
          class="p-4 border-1 surface-card surface-border border-round flex flex-column align-items-center w-8rem"
        >
          <p class="text-3xl font-bold">
            {{ this.cart.equipments ?? 0 }}
          </p>
          <p>Magazzinieri</p>
        </div>
        <div
          class="p-4 border-1 surface-card surface-border border-round flex flex-column align-items-center w-8rem"
        >
          <p class="text-3xl font-bold">
            {{ this.cart.others ?? 0 }}
          </p>
          <p>Altro</p>
        </div>
        <div
          class="p-4 border-1 surface-100 surface-border border-round flex flex-column align-items-center w-8rem"
        >
          <p class="text-5xl font-bold">
            {{ totalPax }}
          </p>
          <p>Totale</p>
        </div>
      </div>
    </div>
    <p-divider></p-divider>
    <div class="flex flex-column mt-1">
      <p class="font-semibold mb-2 text-xl">Alloggio e camere</p>
      <ng-container *ngIf="hotel">
        <ng-container *ngIf="rooms && rooms.length">
          <p-table [value]="rooms">
            <ng-template pTemplate="caption">
              <p>
                {{ hotel }} - dal {{ cart.startDate | customDate }} al
                {{ cart.endDate | customDate }}
              </p>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th>Tipologia</th>
                <th>Quantità</th>
                <th class="text-right">Prezzo</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-room>
              <tr>
                <td>{{ room.name | roomName }}</td>
                <td>{{ room.quantity }}</td>
                <td class="text-right">
                  {{ room.price | currency : "EUR" : "symbol" }}
                </td>
              </tr>
            </ng-template>
          </p-table>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="!hotel">
        <p>Nessun hotel selezionato</p>
      </ng-container>
    </div>
    <p-divider></p-divider>
    <div class="flex flex-column mt-1">
      <p class="font-semibold mb-2 text-xl">Bus - Auto - Trasporti</p>
      <ng-container *ngIf="roads && roads.length">
        <ng-container *ngFor="let r of roads; let i = index">
          <p-table [value]="r.data">
            <ng-template pTemplate="caption">
              <p>{{ r.date | customDate : "showHours" }}</p>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th>Quantità</th>
                <th>Veicolo</th>
                <th>Tratta</th>
                <th class="text-right">Prezzo</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-road>
              <tr>
                <td>{{ road.quantity }}</td>
                <td>{{ road.veichle.name }}</td>
                <td>{{ road.road.from }} - {{ road.road.to }}</td>
                <td class="text-right">
                  {{ road.road.price | currency : "EUR" : "symbol" }}
                </td>
              </tr>
            </ng-template>
          </p-table>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="!roads || !roads.length">
        <p>Nessuna tratta selezionata</p>
      </ng-container>
    </div>
    <p-divider></p-divider>
    <div class="flex flex-column mt-1">
      <p class="font-semibold mb-2 text-xl">Attività</p>
      <ng-container *ngIf="activities && activities.length">
        <p-table [value]="activities">
          <ng-template pTemplate="header">
            <tr>
              <th>Attività</th>
              <th>Quantità</th>
              <th>Data</th>
              <th class="text-right">Prezzo</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-activity>
            <tr>
              <td>{{ activity.activity.name }}</td>
              <td>{{ activity.quantity }}</td>
              <td>{{ activity.startDate | customDate : "showHours" }}</td>
              <td class="text-right">
                {{ activity.activity.price | currency : "EUR" : "symbol" }}
              </td>
            </tr>
          </ng-template>
        </p-table>
      </ng-container>
      <ng-container *ngIf="!activities || !activities.length">
        <p>Nessuna attività selezionata</p>
      </ng-container>
    </div>
    <p-divider></p-divider>
    <div class="flex justify-content-between">
      <p class="font-semibold mb-2 text-xl">TOTALE</p>
      <p class="text-3xl">{{ total | currency : "EUR" : "symbol" }}</p>
    </div>
  </div>
</ng-container>

<ng-template #isCompleted>
  <p-tag severity="Primary">
    <p>Trasferta confermata il {{ cart.completedAt | customDate }}</p>
  </p-tag>
</ng-template>
