<ng-container *ngIf="calendar">
  <h2 class="mb-2">Calendario {{ calendar.name }}</h2>
  <p-toast></p-toast>
  <p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>

  <div
    class="flex justify-content-end w-full tman-shadow px-5 py-3 border-round my-4 dialog-buttons"
  >
    <p-selectButton
      [options]="viewOptions"
      [formControl]="viewControl"
      optionLabel="label"
      optionValue="value"
    ></p-selectButton>
  </div>

  <p-tabView
    [(activeIndex)]="activeDay"
    (activeIndexChange)="onNewTab($event)"
    [scrollable]="true"
  >
    <ng-container *ngFor="let day of totalDays">
      <p-tabPanel [header]="day + 1 + '°'">
        <div class="flex justify-content-end mb-3">
          <p-button label="Aggiungi partita" (click)="create()"></p-button>
        </div>
      </p-tabPanel>
    </ng-container>
    <ng-container *ngIf="activeGames && activeGames.length; else noGames">
      <p-table [value]="activeGames">
        <ng-template pTemplate="header">
          <tr>
            <th>Casa</th>
            <th>Trasferta</th>
            <th>Data/Orario</th>
            <th>Azioni</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-event>
          <tr>
            <td>
              <div class="flex align-items-center gap-2">
                <app-team-logo [team]="event.home"></app-team-logo>
                {{ event.home.name }}
              </div>
            </td>
            <td>
              <div class="flex align-items-center gap-2">
                <app-team-logo [team]="event.away"></app-team-logo>
                {{ event.away.name }}
              </div>
            </td>
            <td>{{ event.date | customDate : "showHours" }}</td>
            <td>
              <p-button
                icon="pi pi-ellipsis-v"
                (click)="op.toggle($event)"
                styleClass="p-button-rounded p-button-secondary p-button-text"
              ></p-button>
              <p-overlayPanel #op [style]="{ width: '160px' }">
                <button
                  pButton
                  pRipple
                  label="Modifica"
                  class="p-button-text"
                  (click)="update(event)"
                ></button>
                <button
                  pButton
                  pRipple
                  label="Rimuovi"
                  class="p-button-text p-button-danger"
                  (click)="remove(event)"
                ></button>
              </p-overlayPanel>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </ng-container>
  </p-tabView>
</ng-container>

<ng-template #noGames>
  <p>Nessuna partita in questa giornata</p>
</ng-template>
