<form
  [formGroup]="calendarForm"
  class="flex flex-column gap-3"
  (ngSubmit)="onSave()"
>
  <div class="flex flex-column gap-2">
    <label>Nome</label>
    <input pInputText placeholder="Nome" formControlName="name" />
  </div>
  <div class="flex flex-column gap-2">
    <label>Nome</label>
    <p-dropdown
      [options]="leagues"
      formControlName="league"
      optionLabel="name"
      [filter]="true"
      [showClear]="true"
      placeholder="Seleziona il campionato"
      (onShow)="loadFilteredLeagues('')"
      (onFilter)="onFilterLeague($event)"
    >
    </p-dropdown>
  </div>
  <div class="flex flex-column gap-2">
    <label>Nr. Giornate</label>
    <p-inputNumber
      inputId="integeronly"
      formControlName="dates"
      placeholder="Giornate"
    ></p-inputNumber>
  </div>
  <div class="flex flex-column gap-2">
    <label>Data inizio</label>
    <p-calendar
      dateFormat="dd/mm/yy"
      formControlName="startDate"
      class="flex-1"
    ></p-calendar>
  </div>
  <div class="flex flex-column gap-2">
    <label>Data fine</label>
    <p-calendar
      dateFormat="dd/mm/yy"
      formControlName="endDate"
      class="flex-1"
    ></p-calendar>
  </div>

  <div class="flex justify-content-end gap-2 dialog-buttons mt-4">
    <button
      pButton
      type="button"
      label="Annulla"
      class="p-button-secondary"
      (click)="ref.close()"
    ></button>
    <button
      pButton
      type="submit"
      label="Salva"
      [disabled]="!calendarForm.valid"
    ></button>
  </div>
</form>
