<aside class="sidebar" #sidebar>
  <div class="sidebar-top">
    <span class="d-flex align-items-center gap-2">
      <i class="fa-brands fa-angular fa-2x"></i>
      <span class="name-app">
        <img src="../../../assets/images/logo.png" alt="logo" height="70" />
      </span>
      <span class="name-app-reduced">
        <img
          src="../../../assets/images/logo-reduced.png"
          alt="logo"
          height="70"
        />
      </span>
    </span>
    <span
      role="button"
      class="material-symbols-outlined close-button cursor-pointer"
      (click)="closeBar()"
    >
      close
    </span>
  </div>
  <div class="sidebar-center">
    <nav class="nav">
      <ul class="list-group m-0 px-3">
        <ng-container *ngFor="let m of menu">
          <ng-container *ngIf="user && m.permissions?.includes(user.role)">
            <p class="font-semibold my-3 uppercase">{{ m.label }}</p>
            <li
              *ngFor="let item of m.items"
              class="nav-item cursor-pointer"
              [routerLink]="item.routerLink"
              [routerLinkActive]="'active'"
            >
              <span class="material-symbols-outlined">
                {{ item.icon }}
              </span>
              <span class="text-route">{{ item.label }}</span>
            </li>
          </ng-container>
        </ng-container>
      </ul>
    </nav>
  </div>
  <div class="sidebar-bottom">
    <span class="text-xs">0.0.1</span>
  </div>
</aside>
