<form
  [formGroup]="hotelForm"
  class="flex flex-column gap-3"
  (ngSubmit)="onSave()"
>
  <div class="flex flex-column gap-2">
    <label>Nome</label>
    <input pInputText placeholder="Nome" formControlName="name" />
  </div>
  <div class="flex flex-column gap-2">
    <label>Città</label>
    <p-dropdown
      [options]="cities"
      formControlName="city"
      optionLabel="name"
      [filter]="true"
      filterBy="name"
      [showClear]="true"
      placeholder="Seleziona la città"
      (onShow)="loadFilteredCities('')"
      (onFilter)="onFilterCities($event)"
    >
    </p-dropdown>
  </div>

  <div class="flex justify-content-end gap-2 dialog-buttons mt-4">
    <button
      pButton
      type="button"
      label="Annulla"
      class="p-button-secondary"
      (click)="ref.close()"
    ></button>
    <button
      pButton
      type="submit"
      label="Salva"
      [disabled]="!hotelForm.valid"
    ></button>
  </div>
</form>
