<h2 class="mb-2">Attività</h2>
<p-toast></p-toast>
<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>

<p-overlayPanel #filters>
  <ng-template pTemplate="content">
    <div class="w-full flex flex-column gap-2">
      <label>Città</label>
      <p-dropdown
        [options]="cities"
        [formControl]="cityFilter"
        optionLabel="name"
        [filter]="true"
        filterBy="name"
        [showClear]="true"
        placeholder="Filtra per una città"
        (onShow)="loadFilteredCities('')"
        (onFilter)="onFilterCity($event)"
      >
      </p-dropdown>
    </div>
    <div class="w-full flex justify-content-edn gap-2 mt-4">
      <p-button
        label="Reset"
        [severity]="'secondary'"
        [text]="true"
        (click)="resetFilters()"
      ></p-button>
      <p-button
        label="Applica filtri"
        [text]="true"
        (click)="applyFilters()"
      ></p-button>
    </div>
  </ng-template>
</p-overlayPanel>

<div
  class="flex justify-content-between w-full tman-shadow px-5 py-3 border-round my-4"
>
  <div class="flex align-items-center gap-3">
    <span class="p-input-icon-left">
      <i class="pi pi-search"></i>
      <input
        type="text"
        pInputText
        placeholder="Cerca..."
        [formControl]="searchFilter"
      />
    </span>
    <p-button
      [severity]="'secondary'"
      [outlined]="true"
      (click)="filters.toggle($event)"
      [icon]="filterIcon"
    ></p-button>
  </div>
  <div>
    <button
      pButton
      pRipple
      label="Crea nuova attività"
      class="p-button-primary mr-2"
      (click)="create()"
    ></button>
  </div>
</div>

<p-table
  #dt
  [value]="activities"
  [totalRecords]="totalRecords"
  [rows]="size"
  [paginator]="true"
  [lazy]="true"
  (onLazyLoad)="onChangePage($event)"
  dataKey="id"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  [showCurrentPageReport]="true"
  [loading]="loading"
  class="tman-shadow"
>
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="name">
        Name <p-sortIcon field="name"></p-sortIcon>
      </th>
      <th>Squadre</th>
      <th>Città</th>
      <th>Stato</th>
      <th>Prezzo</th>
      <th pSortableColumn="createdAt">
        Data creazione <p-sortIcon field="createdAt"></p-sortIcon>
      </th>
      <th>Azioni</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-activity>
    <tr>
      <td>
        <p class="font-semibold">
          {{ activity.name }}
        </p>
        <p class="text-sm">
          {{ activity.description }}
        </p>
      </td>
      <td>
        <ng-container
          *ngIf="activity.teams && activity.teams.length; else noTeams"
        >
          <ng-container *ngFor="let team of activity.teams; let i = index">
            <span class="chips chips-primary mr-2">
              {{ team.team.name }}
            </span>
          </ng-container>
        </ng-container>
      </td>
      <td>{{ activity.city.name }}</td>
      <td>
        <span
          class="chips"
          [ngClass]="activity.enabled ? 'chips-success' : 'chips-warning'"
        >
          {{ activity.enabled ? "ATTIVO" : "NON ATTIVO" }}
        </span>
      </td>
      <td>{{ activity.price | currency : "EUR" : "symbol" }}</td>
      <td>{{ activity.createdAt | customDate }}</td>
      <td>
        <p-button
          icon="pi pi-ellipsis-v"
          (click)="op.toggle($event)"
          [text]="true"
          [rounded]="true"
          [severity]="'secondary'"
        ></p-button>
        <p-overlayPanel #op [style]="{ width: '160px' }">
          <button
            pButton
            pRipple
            label="Modifica"
            class="p-button-text"
            (click)="update(activity)"
          ></button>
          <button
            pButton
            pRipple
            label="Gestisci squadre"
            class="p-button-text"
            (click)="teams(activity)"
          ></button>
          <button
            pButton
            pRipple
            label="Rimuovi"
            class="p-button-text p-button-danger"
            (click)="remove(activity)"
          ></button>
        </p-overlayPanel>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="loadingbody">
    <ng-container *ngFor="let row of rowsArray">
      <tr>
        <ng-container *ngFor="let cell of cellsArray">
          <td><p-skeleton></p-skeleton></td>
        </ng-container>
      </tr>
    </ng-container>
  </ng-template>
</p-table>

<ng-template #noTeams> Nessuna squadra </ng-template>
