<p-toast></p-toast>
<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>

<ng-container *ngIf="veichle">
  <div class="flex align-items-center gap-4 mb-2">
    <i
      class="pi pi-angle-left cursor-pointer text-4xl"
      (click)="backToVeichles()"
    ></i>
    <span>
      <h2 class="mb-2">Tatte: {{ veichle.name }}</h2>
      <p>di {{ veichle.city.name }}</p>
    </span>
  </div>

  <div
    class="flex justify-content-between w-full tman-shadow px-5 py-3 border-round my-4"
  >
    <span></span>
    <div>
      <button
        pButton
        pRipple
        label="Crea nuova tratta"
        class="p-button-primary mr-2"
        (click)="create()"
      ></button>
    </div>
  </div>

  <p-table
    #dt
    [value]="veichle.roads"
    [totalRecords]="totalRecords"
    dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true"
    [loading]="loading"
    class="tman-shadow"
  >
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="from">
          Da <p-sortIcon field="from"></p-sortIcon>
        </th>
        <th pSortableColumn="to">A<p-sortIcon field="to"></p-sortIcon></th>
        <th pSortableColumn="price">
          Prezzo<p-sortIcon field="price"></p-sortIcon>
        </th>
        <th pSortableColumn="createdAt">
          Data creazione <p-sortIcon field="createdAt"></p-sortIcon>
        </th>
        <th>Azioni</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-road>
      <tr>
        <td>{{ road.from }}</td>
        <td>{{ road.to }}</td>
        <td>{{ road.price | currency : "EUR" : "symbol" }}</td>
        <td>{{ road.createdAt | customDate }}</td>
        <td>
          <p-button
            icon="pi pi-ellipsis-v"
            (click)="op.toggle($event)"
            styleClass="p-button-rounded p-button-secondary p-button-text"
          ></p-button>
          <p-overlayPanel #op [style]="{ width: '160px' }">
            <button
              pButton
              pRipple
              label="Modifica"
              class="p-button-text"
              (click)="update(road)"
            ></button>
            <button
              pButton
              pRipple
              label="Rimuovi"
              class="p-button-text p-button-danger"
              (click)="remove(road)"
            ></button>
          </p-overlayPanel>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="loadingbody">
      <ng-container *ngFor="let row of rowsArray">
        <tr>
          <ng-container *ngFor="let cell of cellsArray">
            <td><p-skeleton></p-skeleton></td>
          </ng-container>
        </tr>
      </ng-container>
    </ng-template>
  </p-table>
</ng-container>
