<p-messages
  [(value)]="messages!"
  [enableService]="false"
  [closable]="false"
></p-messages>
<div class="flex flex-column w-full tman-shadow px-5 py-3 border-round my-4">
  <ng-container *ngIf="!!this.cartForm">
    <div
      class="flex flex-column w-full px-5 py-3 border-round mb-4"
      [formGroup]="cartForm"
    >
      <div class="flex justify-content-between">
        <div class="flex flex-column">
          <h2>Trasferta a {{ city.name }}</h2>
          <p>del {{ eventDate | customDate }}</p>
        </div>
        <div class="flex flex-column align-items-end">
          <h3>Squadra</h3>
          <p>{{ awayTeam.name }}</p>
        </div>
      </div>
      <div class="flex flex-column mt-5">
        <p class="font-semibold mb-2">Partecipanti</p>
        <div class="flex flex-wrap gap-3">
          <div
            class="p-4 border-1 surface-card surface-border border-round flex flex-column align-items-center w-8rem"
          >
            <p class="text-5xl font-bold">
              {{ this.cartForm.get("players")?.value ?? 0 }}
            </p>
            <p>Giocatori</p>
          </div>
          <div
            class="p-4 border-1 surface-card surface-border border-round flex flex-column align-items-center w-8rem"
          >
            <p class="text-5xl font-bold">
              {{ this.cartForm.get("staffs")?.value ?? 0 }}
            </p>
            <p>Staff</p>
          </div>
          <div
            class="p-4 border-1 surface-card surface-border border-round flex flex-column align-items-center w-8rem"
          >
            <p class="text-5xl font-bold">
              {{ this.cartForm.get("managers")?.value ?? 0 }}
            </p>
            <p>Dirigenti</p>
          </div>
          <div
            class="p-4 border-1 surface-card surface-border border-round flex flex-column align-items-center w-8rem"
          >
            <p class="text-5xl font-bold">
              {{ this.cartForm.get("equipments")?.value ?? 0 }}
            </p>
            <p>Magazzinieri</p>
          </div>
          <div
            class="p-4 border-1 surface-card surface-border border-round flex flex-column align-items-center w-8rem"
          >
            <p class="text-5xl font-bold">
              {{ this.cartForm.get("others")?.value ?? 0 }}
            </p>
            <p>Altro</p>
          </div>
          <div
            class="p-4 border-1 surface-card surface-border border-round flex flex-column align-items-center w-8rem ml-auto"
          >
            <p class="text-5xl font-bold">
              {{ totalPax }}
            </p>
            <p>Totale</p>
          </div>
        </div>
      </div>
      <p-divider></p-divider>
      <div class="flex flex-column mt-1">
        <p class="font-semibold mb-2">Alloggio e camere</p>
        <ng-container *ngIf="hotel">
          <p class="mb-5">
            {{ hotel }} - dal
            {{ this.cartForm.get("startDate")?.value | customDate }} al
            {{ this.cartForm.get("endDate")?.value | customDate }}
          </p>
          <p-table [value]="rooms">
            <ng-template pTemplate="header">
              <tr>
                <th>Tipologia</th>
                <th>Quantità</th>
                <th class="text-right">Prezzo</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-room>
              <tr>
                <td>{{ room.name }}</td>
                <td>{{ room.quantity }}</td>
                <td class="text-right">
                  {{ room.price | currency : "EUR" : "symbol" }}
                </td>
              </tr>
            </ng-template>
          </p-table>
        </ng-container>
        <ng-container *ngIf="!hotel">
          <p>Nessun alloggio selezionato</p>
        </ng-container>
      </div>
      <p-divider></p-divider>
      <div class="flex flex-column mt-1">
        <p class="font-semibold mb-2">Bus - Auto - Trasporti</p>
        <ng-container *ngIf="roads && roads.length">
          <ng-container *ngFor="let r of roads; let i = index">
            <div class="mb-2">
              <p class="mb-1">
                {{ r.date | customDate : "showHours" }}
              </p>
              <ng-container *ngFor="let d of r.data">
                <p class="mb-1">
                  {{ d.quantity }}x {{ d.veichleName }} / {{ d.from }} -
                  {{ d.to }} / {{ d.price | currency : "EUR" : "symbol" }}
                </p>
              </ng-container>
              <ng-container *ngIf="i !== roads.length - 1">
                <p-divider></p-divider>
              </ng-container>
            </div>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="!roads || !roads.length">
          <p>Nessuna tratta selezionata</p>
        </ng-container>
      </div>
      <p-divider></p-divider>
      <div class="flex flex-column mt-1 gap-2">
        <p class="font-semibold mb-2">Attività</p>
        <ng-container *ngIf="activities.value && activities.value.length">
          <ng-container formArrayName="activities">
            <ng-container *ngFor="let a of activities.controls; let i = index">
              <div
                class="p-4 border-1 surface-card surface-border border-round flex justify-content-between"
              >
                <div class="flex flex-column gap-2 flex-1">
                  <p>{{ a.get("name")?.value }}</p>
                  <p>{{ a.get("description")?.value }}</p>
                  <div class="flex flex-column">
                    <div
                      class="flex flex-column gap-2 flex-1"
                      [formGroupName]="i"
                    >
                      <label class="font-semibold"
                        >Note su questa attività</label
                      >
                      <textarea
                        rows="5"
                        cols="30"
                        pInputTextarea
                        formControlName="note"
                      ></textarea>
                    </div>
                  </div>
                </div>
                <p>{{ a.get("price")?.value | currency : "EUR" : "symbol" }}</p>
              </div>
            </ng-container>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="!activities.value || !activities.value.length">
          <p>Nessuna attività selezionata</p>
        </ng-container>
      </div>
      <p-divider></p-divider>
      <div class="mt-3">
        <label class="font-semibold">Note extra</label>
        <textarea
          rows="5"
          cols="30"
          pInputTextarea
          [formControl]="genericNotes"
          class="mt-2"
        ></textarea>
      </div>
      <p-divider></p-divider>
      <div class="flex justify-content-between">
        <p class="font-semibold mb-2">TOTALE</p>
        <p class="text-2xl">{{ total | currency : "EUR" : "symbol" }}</p>
      </div>
    </div>
  </ng-container>
</div>
<div class="w-full flex justify-content-between mb-3">
  <p-button
    label="Indietro"
    (onClick)="onPrevStep()"
    icon="pi pi-angle-left"
    styleClass="p-button-secondary"
  ></p-button>
  <p-button
    label="Completa"
    (onClick)="onNextStep()"
    icon="pi pi-check"
    iconPos="right"
  ></p-button>
</div>
