<p-toast></p-toast>

<div
  class="flex flex-column w-full tman-shadow px-5 py-3 border-round mb-4"
  [formGroup]="accomodationForm"
>
  <p class="text-sm pb-1">
    Seleziona la data di inizio e fine del tuo pernottamento
  </p>
  <p class="font-semibold text-lg my-2">Data</p>
  <div class="flex gap-2">
    <div class="flex flex-column flex-wrap gap-2">
      <label>Data di inizio</label>
      <p-calendar
        dateFormat="dd/mm/yy"
        formControlName="startDate"
      ></p-calendar>
    </div>
    <div class="flex flex-column flex-wrap gap-2">
      <label>Data di fine</label>
      <p-calendar dateFormat="dd/mm/yy" formControlName="endDate"></p-calendar>
    </div>
  </div>
  <p-divider></p-divider>
  <div class="flex align-items-center justify-content-between">
    <div>
      <p class="text-sm pb-1">Seleziona l'hotel per questa trasferta</p>
      <p class="font-semibold text-lg my-2">Hotel disponibili</p>
    </div>
    <p-button
      [severity]="'secondary'"
      [outlined]="true"
      (click)="filters.toggle($event)"
      icon="pi pi-filter"
    ></p-button>
  </div>

  <div class="flex flex-wrap gap-2">
    <ng-container *ngFor="let h of filteredHotels">
      <div
        class="flex border-1 border-round border-300 px-3 py-2 cursor-pointer align-items-center gap-2"
        [ngClass]="{
          'border-primary': selectedHotel && selectedHotel.id === h.id,
          'cursor-pointer': !_isDisabledCart
        }"
        (click)="onSelectHotel(h)"
        [pTooltip]="tooltipContent"
        tooltipPosition="top"
      >
        <p class="font-semibold">{{ h.name }}</p>
        <span
          *ngIf="selectedHotel && selectedHotel.id === h.id"
          class="material-symbols-outlined check-icon"
        >
          check_circle
        </span>
      </div>
      <ng-template #tooltipContent>
        <div class="flex flex-column">
          <ng-container *ngFor="let s of h.services">
            <p>- {{ s.service.name }}</p>
          </ng-container>
        </div>
      </ng-template>
    </ng-container>
  </div>
  <p-divider></p-divider>
  <div class="py-3">
    <ng-container *ngIf="selectedHotel; else noHotelSelected">
      <div class="mb-2 w-full flex align-items-center justify-content-between">
        <p class="text-sm pb-1">
          Gestisci le stanze
          <span class="text-xs">(Tariffa colazione inclusa)</span>
        </p>
      </div>
      <p-accordion>
        <ng-container *ngFor="let hotelRoom of selectedHotel.rooms">
          <p-accordionTab>
            <ng-template pTemplate="header">
              <div class="flex align-items-center">
                <ng-container
                  *ngFor="let pax of [].constructor(hotelRoom.numPax)"
                >
                  <i class="pi pi-user mr-2"></i>
                </ng-container>
                <span class="vertical-align-middle mr-2">
                  {{ hotelRoom.name | roomName }}
                </span>
                <span class="vertical-align-middle font-normal">
                  ({{ hotelRoom.price | currency : "EUR" : "symbol" }})
                </span>
              </div>
            </ng-template>
            <ng-template pTemplate="content">
              <div class="grid">
                <ng-container
                  *ngFor="let r of getRooms(hotelRoom); let i = index"
                >
                  <div class="col-4 room-item">
                    <p-panel>
                      <ng-template pTemplate="header">
                        <div
                          class="w-full flex align-items-center justify-content-between"
                        >
                          <span class="font-semibold">
                            {{ "Stanza " + (i + 1) }}
                          </span>
                          <i
                            class="pi pi-ellipsis-v cursor-pointer"
                            (click)="onToggleMenu(r, menu, $event)"
                            *ngIf="!_isDisabledCart"
                          ></i>
                        </div>
                      </ng-template>
                      <ng-container *ngFor="let p of r.rooming; let ip = index">
                        <div
                          class="p-2 flex flex-column-reverse xl:flex-row xl:align-items-center room-user"
                        >
                          <span class="mt-2 mr-0 xl:mt-0 xl:mr-2">
                            <app-tag-role-people
                              [people]="p"
                            ></app-tag-role-people>
                          </span>
                          <p>{{ p.name }} {{ p.surname }}</p>
                        </div>
                      </ng-container>
                      <div class="p-2 flex justify-content-center">
                        <ng-container *ngIf="!isDisabledRooming">
                          <p-button
                            label="Gestisci ospiti"
                            [text]="true"
                            icon="pi pi-user-edit"
                            (click)="onAddGuest(r)"
                          ></p-button>
                        </ng-container>
                      </div>
                    </p-panel>
                  </div>
                </ng-container>
                <ng-container *ngIf="!isDisabledRooming">
                  <div class="col-4">
                    <div
                      class="h-full flex justify-content-center align-items-center border-dashed border-1 new-room text-primary"
                      (click)="onAddNewRoom(hotelRoom)"
                    >
                      <i class="pi pi-plus-circle mr-2"></i>
                      <p class="m-0">Aggiungi room</p>
                    </div>
                  </div>
                </ng-container>
              </div>
            </ng-template>
          </p-accordionTab>
        </ng-container>
      </p-accordion>

      <div class="mt-3">
        <label class="font-semibold">Note</label>
        <p class="text-sm pb-3">
          (Scrivi qui qualsiasi nota possa essere utile per la struttura:
          checkin, checkout, intolleranze alimentari ecc.)
        </p>
        <textarea
          rows="5"
          cols="30"
          pInputTextarea
          formControlName="accomodationNotes"
        ></textarea>
      </div>
    </ng-container>
  </div>
</div>

<div class="w-full flex justify-content-between mb-3">
  <p-button
    label="Indietro"
    (onClick)="onPrevStep()"
    icon="pi pi-angle-left"
    styleClass="p-button-secondary"
  ></p-button>
  <p-button
    label="Avanti"
    (onClick)="onNextStep()"
    icon="pi pi-angle-right"
    iconPos="right"
    [disabled]="!accomodationForm.valid"
  ></p-button>
</div>

<ng-template #noHotelSelected>
  <p class="text-sm text-center">Seleziona un hotel per prenotare le camere</p>
</ng-template>

<p-menu #menu [model]="items" [popup]="true"></p-menu>

<p-overlayPanel #filters>
  <ng-template pTemplate="content">
    <div class="w-full flex flex-column gap-2">
      <div *ngFor="let service of services" class="field-checkbox">
        <div class="flex align-items-center gap-1">
          <p-checkbox
            name="group"
            [value]="service"
            [(ngModel)]="filtersService"
            [inputId]="service.id"
          ></p-checkbox>
          <label [for]="service.id">{{ service.name }}</label>
        </div>
      </div>
    </div>
    <div class="w-full flex justify-content-edn gap-2 mt-4">
      <p-button
        label="Reset"
        [severity]="'secondary'"
        [text]="true"
        (click)="resetFilters()"
      ></p-button>
      <p-button
        label="Applica filtri"
        [text]="true"
        (click)="applyFilters()"
      ></p-button>
    </div>
  </ng-template>
</p-overlayPanel>
