<h2>Lista Squadre</h2>
<p-toast></p-toast>
<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>

<p-overlayPanel #filters>
  <ng-template pTemplate="content">
    <div class="w-full flex flex-column gap-2">
      <label>Città</label>
      <p-autoComplete
        [formControl]="cityFilter"
        [suggestions]="cities"
        (completeMethod)="onFilterCity($event)"
        field="name"
      ></p-autoComplete>
    </div>
    <div class="w-full flex flex-column gap-2 mt-3">
      <label>Campionato</label>
      <p-autoComplete
        [formControl]="leagueFilter"
        [suggestions]="leagues"
        (completeMethod)="onFilterLeague($event)"
        field="name"
      ></p-autoComplete>
    </div>
    <div class="w-full flex justify-content-edn gap-2 mt-4">
      <p-button
        label="Reset"
        styleClass="p-button-secondary p-button-text"
        (click)="resetFilters()"
      ></p-button>
      <p-button
        label="Applica filtri"
        styleClass="p-button-text"
        (click)="applyFilters()"
      ></p-button>
    </div>
  </ng-template>
</p-overlayPanel>

<div
  class="flex justify-content-between w-full tman-shadow px-5 py-3 border-round mb-4"
>
  <div class="flex align-items-center gap-3">
    <span class="p-input-icon-left">
      <i class="pi pi-search"></i>
      <input
        type="text"
        pInputText
        placeholder="Cerca..."
        [formControl]="searchFilter"
      />
    </span>
    <p-button
      styleClass="p-button-outlined p-button-secondary"
      (click)="filters.toggle($event)"
      [icon]="filterIcon"
    ></p-button>
  </div>

  <button
    pButton
    pRipple
    label="Crea nuova squadra"
    class="p-button-primary mr-2"
    (click)="create()"
  ></button>
</div>

<p-table
  #dt
  [value]="teams"
  [totalRecords]="totalRecords"
  [rows]="size"
  [paginator]="true"
  [tableStyle]="{ 'min-width': '75rem' }"
  [lazy]="true"
  (onLazyLoad)="onChangePage($event)"
  dataKey="id"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  [showCurrentPageReport]="true"
  class="tman-shadow"
>
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="name">
        Nome <p-sortIcon field="name"></p-sortIcon>
      </th>
      <th pSortableColumn="createdAt">Campionato</th>
      <th pSortableColumn="createdAt">Città</th>
      <th pSortableColumn="createdAt">
        Data creazione <p-sortIcon field="createdAt"></p-sortIcon>
      </th>
      <th>Azioni</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-team>
    <tr>
      <td>{{ team.name }}</td>
      <td>{{ team.league ? team.league.name : "--" }}</td>
      <td>{{ team.city ? team.city.name : "--" }}</td>
      <td>{{ team.createdAt | customDate }}</td>
      <td>
        <button
          pButton
          pRipple
          icon="pi pi-pencil"
          class="p-button-rounded button-ghost mr-2"
          (click)="update(team)"
        ></button>
        <button
          pButton
          pRipple
          icon="pi pi-trash"
          class="p-button-rounded button-ghost"
          (click)="remove(team)"
        ></button>
      </td>
    </tr>
  </ng-template>
</p-table>
