<h2 class="mb-2">Squadre</h2>
<p-toast></p-toast>
<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>

<p-overlayPanel #filters>
  <ng-template pTemplate="content">
    <div class="w-full flex flex-column gap-2">
      <label>Città</label>
      <p-dropdown
        [options]="cities"
        [formControl]="cityFilter"
        optionLabel="name"
        [filter]="true"
        filterBy="name"
        [showClear]="true"
        placeholder="Filtra per città"
        (onShow)="loadFilteredCities('')"
        (onFilter)="onFilterCity($event)"
      >
      </p-dropdown>
    </div>
    <div class="w-full flex flex-column gap-2 mt-3">
      <label>Campionato</label>
      <p-dropdown
        [options]="leagues"
        [formControl]="leagueFilter"
        optionLabel="name"
        [filter]="true"
        filterBy="name"
        [showClear]="true"
        placeholder="Filtra per campionato"
        (onShow)="loadFilteredLeagues('')"
        (onFilter)="onFilterLeague($event)"
      >
      </p-dropdown>
    </div>
    <div class="w-full flex justify-content-edn gap-2 mt-4">
      <p-button
        label="Reset"
        [severity]="'secondary'"
        [text]="true"
        (click)="resetFilters()"
      ></p-button>
      <p-button
        label="Applica filtri"
        [text]="true"
        (click)="applyFilters()"
      ></p-button>
    </div>
  </ng-template>
</p-overlayPanel>

<div
  class="flex justify-content-between w-full tman-shadow px-5 py-3 border-round my-4"
>
  <div class="flex align-items-center gap-3">
    <span class="p-input-icon-left">
      <i class="pi pi-search"></i>
      <input
        type="text"
        pInputText
        placeholder="Cerca..."
        [formControl]="searchFilter"
      />
    </span>
    <p-button
      [severity]="'secondary'"
      [outlined]="true"
      [severity]="'secondary'"
      [outlined]="true"
      (click)="filters.toggle($event)"
      [icon]="filterIcon"
    ></p-button>
  </div>

  <div>
    <button
      pButton
      pRipple
      label="Crea nuova squadra"
      class="p-button-primary mr-2"
      (click)="create()"
    ></button>
  </div>
</div>

<p-table
  #dt
  [value]="teams"
  [totalRecords]="totalRecords"
  [rows]="size"
  [paginator]="true"
  [lazy]="true"
  (onLazyLoad)="onChangePage($event)"
  dataKey="id"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  [showCurrentPageReport]="true"
  class="tman-shadow"
  [loading]="loading"
>
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="name">
        Nome <p-sortIcon field="name"></p-sortIcon>
      </th>
      <th pSortableColumn="createdAt">Campionato</th>
      <th pSortableColumn="createdAt">Città</th>
      <th pSortableColumn="createdAt">
        Data creazione <p-sortIcon field="createdAt"></p-sortIcon>
      </th>
      <th>Azioni</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-team>
    <tr>
      <td>
        <div class="flex align-items-center gap-2">
          <app-team-logo [team]="team"></app-team-logo>
          {{ team.name }}
        </div>
      </td>
      <td>{{ team.league ? team.league.name : "--" }}</td>
      <td>{{ team.city ? team.city.name : "--" }}</td>
      <td>{{ team.createdAt | customDate }}</td>
      <td>
        <p-button
          icon="pi pi-ellipsis-v"
          (click)="op.toggle($event)"
          [text]="true"
          [rounded]="true"
          [severity]="'secondary'"
        ></p-button>
        <p-overlayPanel #op [style]="{ width: '160px' }">
          <button
            pButton
            pRipple
            label="Modifica"
            class="p-button-text"
            (click)="update(team)"
          ></button>
          <button
            pButton
            pRipple
            label="Anagrafica"
            class="p-button-text"
            (click)="people(team)"
          ></button>
          <button
            pButton
            pRipple
            label="Copia associazioni da..."
            class="p-button-text"
            (click)="copyLinks(team)"
          ></button>
          <button
            pButton
            pRipple
            label="Rimuovi"
            class="p-button-text p-button-danger"
            (click)="remove(team)"
          ></button>
        </p-overlayPanel>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="loadingbody">
    <tr>
      <td><p-skeleton></p-skeleton></td>
      <td><p-skeleton></p-skeleton></td>
      <td><p-skeleton></p-skeleton></td>
      <td><p-skeleton></p-skeleton></td>
      <td><p-skeleton></p-skeleton></td>
      <td><p-skeleton></p-skeleton></td>
    </tr>
    <tr>
      <td><p-skeleton></p-skeleton></td>
      <td><p-skeleton></p-skeleton></td>
      <td><p-skeleton></p-skeleton></td>
      <td><p-skeleton></p-skeleton></td>
      <td><p-skeleton></p-skeleton></td>
      <td><p-skeleton></p-skeleton></td>
    </tr>
    <tr>
      <td><p-skeleton></p-skeleton></td>
      <td><p-skeleton></p-skeleton></td>
      <td><p-skeleton></p-skeleton></td>
      <td><p-skeleton></p-skeleton></td>
      <td><p-skeleton></p-skeleton></td>
      <td><p-skeleton></p-skeleton></td>
    </tr>
    <tr>
      <td><p-skeleton></p-skeleton></td>
      <td><p-skeleton></p-skeleton></td>
      <td><p-skeleton></p-skeleton></td>
      <td><p-skeleton></p-skeleton></td>
      <td><p-skeleton></p-skeleton></td>
      <td><p-skeleton></p-skeleton></td>
    </tr>
  </ng-template>
</p-table>
