<ng-container *ngIf="isValid; else noValid">
  <p-toast></p-toast>
  <form
    class="flex flex-column"
    [formGroup]="resetForm"
    (ngSubmit)="onResetPassword()"
    class="max-w-24rem"
  >
    <h2>Scegli una nuova password</h2>
    <p>
      Ricordati di scegliere una password con almeno un carattere maiuscolo, un
      numero, un carattere speciale e di almeno 8 caratteri!
    </p>
    <div class="flex flex-column gap-2 mt-4">
      <label class="font-semibold">Nuova password</label>
      <span class="p-input-icon-left">
        <i class="pi pi-lock"></i>
        <input pInputText type="password" formControlName="password" />
      </span>
      <app-control-errors controlName="password"></app-control-errors>
    </div>
    <div class="flex justify-content-center mt-4">
      <p-button class="w-full" type="submit" label="Reset"></p-button>
    </div>
  </form>
</ng-container>

<ng-template #noValid>
  <p>Il token sembra essere scaduto, richiedine uno nuovo!</p>
</ng-template>
