<h2 class="mb-2">Calendari</h2>
<p-toast></p-toast>
<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>

<div
  class="flex justify-content-between w-full tman-shadow px-5 py-3 border-round my-4"
>
  <span class="p-input-icon-left">
    <i class="pi pi-search"></i>
    <input
      type="text"
      pInputText
      placeholder="Cerca..."
      [formControl]="searchFilter"
    />
  </span>
  <div>
    <button
      pButton
      pRipple
      label="Crea nuovo calendario"
      class="p-button-primary mr-2"
      (click)="create()"
    ></button>
  </div>
</div>

<p-table
  #dt
  [value]="calendars"
  [totalRecords]="totalRecords"
  [rows]="size"
  [paginator]="true"
  [lazy]="true"
  (onLazyLoad)="onChangePage($event)"
  dataKey="id"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  [showCurrentPageReport]="true"
  [loading]="loading"
  class="tman-shadow"
>
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="name">
        Name <p-sortIcon field="name"></p-sortIcon>
      </th>
      <th pSortableColumn="dates">
        Nr. Giornate <p-sortIcon field="dates"></p-sortIcon>
      </th>
      <th pSortableColumn="createdAt">
        Data inizio <p-sortIcon field="createdAt"></p-sortIcon>
      </th>
      <th pSortableColumn="createdAt">
        Data fine <p-sortIcon field="createdAt"></p-sortIcon>
      </th>
      <th pSortableColumn="createdAt">
        Data creazione <p-sortIcon field="createdAt"></p-sortIcon>
      </th>
      <th>Azioni</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-calendar>
    <tr>
      <td>{{ calendar.name }}</td>
      <td>{{ calendar.dates }}</td>
      <td>{{ calendar.startDate | customDate }}</td>
      <td>{{ calendar.endDate | customDate }}</td>
      <td>{{ calendar.createdAt | customDate }}</td>
      <td>
        <p-button
          icon="pi pi-ellipsis-v"
          (click)="op.toggle($event)"
          styleClass="p-button-rounded p-button-secondary p-button-text"
        ></p-button>
        <p-overlayPanel #op [style]="{ width: '160px' }">
          <button
            pButton
            pRipple
            label="Modifica"
            class="p-button-text"
            (click)="update(calendar)"
          ></button>
          <button
            pButton
            pRipple
            label="Partite"
            class="p-button-text"
            (click)="detail(calendar)"
          ></button>
          <button
            pButton
            pRipple
            label="Rimuovi"
            class="p-button-text p-button-danger"
            (click)="remove(calendar)"
          ></button>
        </p-overlayPanel>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="loadingbody">
    <ng-container *ngFor="let row of rowsArray">
      <tr>
        <ng-container *ngFor="let cell of cellsArray">
          <td><p-skeleton></p-skeleton></td>
        </ng-container>
      </tr>
    </ng-container>
  </ng-template>
</p-table>
