<div class="flex flex-column w-full tman-shadow px-5 py-3 border-round my-4">
  <div class="flex justify-content-between">
    <div class="flex flex-column">
      <p>Seleziona le tratte della trasferta</p>
      <p class="font-semibold text-lg my-2">Bus - Auto - Trasporti</p>
    </div>
    <p-button
      (onClick)="onAddRoad()"
      icon="pi pi-plus"
      iconPos="right"
      styleClass="p-button-rounded"
      *ngIf="_status === EStatusCart.DRAFT"
    ></p-button>
  </div>
  <p-dataView
    #dv
    [value]="roadsValue"
    [rows]="size"
    [paginator]="true"
    [totalRecords]="roadsValue.length"
    [emptyMessage]="'Nessuna tratta indicata'"
    [alwaysShowPaginator]="false"
    [first]="firstIndex"
    (onPage)="onPage($event)"
  >
    <ng-template let-road let-index="rowIndex" pTemplate="listItem">
      <div class="w-full flex justify-content-between align-items-center py-2">
        <div class="flex gap-5">
          <p style="min-width: 180px">
            {{ road.startDate | customDate : "showHours" }}
          </p>
          <p>
            {{ road.quantity }}x
            <span class="ml-1">
              {{ road.veichle }} / {{ road.from }} - {{ road.to }} /
              {{ road.price | currency : "EUR" : "symbol" }}
            </span>
          </p>
        </div>

        <div>
          <button
            pButton
            pRipple
            icon="pi pi-pencil"
            class="p-button-rounded p-button-outlined mr-2"
            (click)="onUpdateRoad(index)"
            *ngIf="_status === EStatusCart.DRAFT"
          ></button>
          <button
            pButton
            pRipple
            icon="pi pi-trash"
            class="p-button-rounded p-button-outlined p-button-danger"
            (click)="onDeleteRoad(index)"
            *ngIf="_status === EStatusCart.DRAFT"
          ></button>
        </div>
      </div>
    </ng-template>
  </p-dataView>

  <div class="mt-3" [formGroup]="roadForm">
    <label class="font-semibold"
      >Segnalaci qui i tuoi voli di arrivo e partenza</label
    >
    <textarea
      rows="3"
      cols="30"
      pInputTextarea
      formControlName="roadNotes"
      class="mt-2"
    ></textarea>
  </div>
</div>

<div class="w-full flex justify-content-between mb-3">
  <p-button
    label="Indietro"
    (onClick)="onPrevStep()"
    icon="pi pi-angle-left"
    styleClass="p-button-secondary"
  ></p-button>
  <p-button
    label="Avanti"
    (onClick)="onNextStep()"
    icon="pi pi-angle-right"
    iconPos="right"
    [disabled]="!roadForm.valid"
  ></p-button>
</div>

<ng-template #noRoads>
  <p class="text-sm text-center py-4">Nessuna tratta trovata</p>
</ng-template>
