<div class="flex flex-column w-full tman-shadow px-5 py-3 border-round my-4">
  <div class="flex justify-content-between">
    <div class="flex flex-column">
      <p class="text-sm pb-1">Seleziona le tratte della trasferta</p>
      <p class="font-semibold text-lg my-2">Bus - Auto - Trasporti</p>
    </div>
    <p-button
      (onClick)="onAddRoad()"
      icon="pi pi-plus"
      iconPos="right"
      styleClass="p-button-rounded"
      *ngIf="_status === EStatusCart.DRAFT"
    ></p-button>
  </div>
  <p-table #dv [value]="roadsValue" [totalRecords]="roadsValue.length">
    <ng-template pTemplate="header">
      <tr>
        <th>Data</th>
        <th>Quantità</th>
        <th>Veicolo</th>
        <th>Tratta</th>
        <th>Prezzo</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-road let-index="rowIndex">
      <tr>
        <td>{{ road.startDate | customDate : "showHours" }}</td>
        <td>{{ road.quantity }}</td>
        <td>{{ road.veichle.name }}</td>
        <td>{{ road.road.from }} - {{ road.road.to }}</td>
        <td>{{ road.road.price | currency : "EUR" : "symbol" }}</td>
        <td>
          <button
            pButton
            pRipple
            icon="pi pi-pencil"
            class="p-button-rounded p-button-outlined mr-2"
            (click)="onUpdateRoad(index)"
            *ngIf="_status === EStatusCart.DRAFT"
          ></button>
          <button
            pButton
            pRipple
            icon="pi pi-trash"
            class="p-button-rounded p-button-outlined p-button-danger"
            (click)="onDeleteRoad(index)"
            *ngIf="_status === EStatusCart.DRAFT"
          ></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <p class="p-3">Nessuna tratta selezionata</p>
    </ng-template>
  </p-table>

  <div class="mt-3" [formGroup]="roadForm">
    <label class="font-semibold"
      >Segnalaci qui i tuoi voli di arrivo e partenza</label
    >
    <textarea
      rows="3"
      cols="30"
      pInputTextarea
      formControlName="roadNotes"
      class="mt-2"
    ></textarea>
  </div>
</div>

<div class="w-full flex justify-content-between mb-3">
  <p-button
    label="Indietro"
    (onClick)="onPrevStep()"
    icon="pi pi-angle-left"
    styleClass="p-button-secondary"
  ></p-button>
  <p-button
    label="Avanti"
    (onClick)="onNextStep()"
    icon="pi pi-angle-right"
    iconPos="right"
    [disabled]="!roadForm.valid"
  ></p-button>
</div>

<ng-template #noRoads>
  <p class="text-sm text-center py-4">Nessuna tratta trovata</p>
</ng-template>
